---
type Props = {
  message: string
}

const { message } = Astro.props
---

<div
  class="fr-alert fr-alert--success fr-mb-2w"
  data-hx-swap-oob="true"
  id="swap-alert"
>
  <h3 class="fr-alert__title">Succès de l'envoi</h3>
  <p>{message}</p>
</div>
