<button
  class="fr-icon-theme-fill fr-link--icon-left fr-footer__bottom-link"
  data-fr-opened="false"
  aria-controls="fr-modal-1"
>
  Paramètres d’affichage
</button>

<dialog
  aria-labelledby="fr-modal-title-modal-1"
  id="fr-modal-1"
  class="fr-modal"
>
  <div class="fr-container fr-container--fluid fr-container-md">
    <div class="fr-grid-row fr-grid-row--center">
      <div class="fr-col-12 fr-col-md-8 fr-col-lg-6">
        <div class="fr-modal__body">
          <div class="fr-modal__header">
            <button
              class="fr-btn--close fr-btn"
              title="Fermer la fenêtre modale"
              aria-controls="fr-modal-1"
            >
              Fermer
            </button>
          </div>
          <div class="fr-modal__content">
            <h1 id="fr-modal-title-modal-1" class="fr-modal__title">
              Paramètres d’affichage
            </h1>
            <div
              id="fr-display"
              class="fr-form-group fr-display"
              data-fr-js-display="true"
            >
              <div class="fr-form-group">
                <fieldset class="fr-fieldset">
                  <legend
                    id="-legend"
                    class="fr-fieldset__legend fr-text--regular"
                  >
                    Choisissez un thème pour personnaliser l’apparence du site.
                  </legend>
                  <div class="fr-fieldset__content">
                    <div class="fr-radio-group fr-radio-rich">
                      <input
                        value="light"
                        type="radio"
                        id="fr-radios-theme-light"
                        name="fr-radios-theme"
                      />
                      <label
                        for="fr-radios-theme-light"
                        class="fr-label"
                      >
                        Thème clair
                      </label>
                      <div class="fr-radio-rich__img">
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          width="80px"
                          height="80px"
                          viewBox="0 0 80 80"
                          class="fr-artwork"
                        >
                          <use
                            xlink:href="/dsfr-1.13.2/artwork/light.svg#artwork-decorative"
                            class="fr-artwork-decorative"
                          >
                          </use>
                          <use
                            xlink:href="/dsfr-1.13.2/artwork/light.svg#artwork-minor"
                            class="fr-artwork-minor"
                          >
                          </use>
                          <use
                            xlink:href="/dsfr-1.13.2/artwork/light.svg#artwork-major"
                            class="fr-artwork-major"
                          >
                          </use>
                        </svg>
                      </div>
                    </div>
                    <div class="fr-radio-group fr-radio-rich">
                      <input
                        value="dark"
                        type="radio"
                        id="fr-radios-theme-dark"
                        name="fr-radios-theme"
                      />
                      <label
                        for="fr-radios-theme-dark"
                        class="fr-label"
                      >
                        Thème sombre
                      </label>
                      <div class="fr-radio-rich__img">
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          width="80px"
                          height="80px"
                          viewBox="0 0 80 80"
                          class="fr-artwork"
                        >
                          <use
                            xlink:href="/dsfr-1.13.2/artwork/dark.svg#artwork-decorative"
                            class="fr-artwork-decorative"
                          >
                          </use>
                          <use
                            xlink:href="/dsfr-1.13.2/artwork/dark.svg#artwork-minor"
                            class="fr-artwork-minor"
                          >
                          </use>
                          <use
                            xlink:href="/dsfr-1.13.2/artwork/dark.svg#artwork-major"
                            class="fr-artwork-major"
                          >
                          </use>
                        </svg>
                      </div>
                    </div>
                    <div class="fr-radio-group fr-radio-rich">
                      <input
                        value="system"
                        type="radio"
                        id="fr-radios-theme-system"
                        name="fr-radios-theme"
                      />
                      <label
                        for="fr-radios-theme-system"
                        class="fr-label"
                      >
                        Système
                        <span class="fr-hint-text"
                        >Utilise les paramètres système.</span>
                      </label>
                      <div class="fr-radio-rich__img">
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          width="80px"
                          height="80px"
                          viewBox="0 0 80 80"
                          class="fr-artwork"
                        >
                          <use
                            xlink:href="/dsfr-1.13.2/artwork/system.svg#artwork-decorative"
                            class="fr-artwork-decorative"
                          >
                          </use>
                          <use
                            xlink:href="/dsfr-1.13.2/artwork/system.svg#artwork-minor"
                            class="fr-artwork-minor"
                          >
                          </use>
                          <use
                            xlink:href="/dsfr-1.13.2/artwork/system.svg#artwork-major"
                            class="fr-artwork-major"
                          >
                          </use>
                        </svg>
                      </div>
                    </div>
                  </div>
                </fieldset>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</dialog>
