---
import "./ConnexionPage.css"
---

<div class="fr-container fr-container--fluid fr-mb-md-14v">
  <div class="fr-grid-row fr-grid-row-gutters fr-grid-row--center">
    <div class="fr-col-12 fr-col-md-8 fr-col-lg-6">
      <div class="fr-container fr-background-alt--grey fr-px-md-0 fr-py-10v fr-py-md-14v">
        <div class="fr-grid-row fr-grid-row-gutters fr-grid-row--center">
          <div class="fr-col-12 fr-col-md-9 fr-col-lg-8">
            <h1>Connexion à DPE</h1>
            <div class="fr-mb-6v">
              <h2>Se connecter avec FranceConnect</h2>
              <div class="fr-connect-group">
                <button class="fr-connect">
                  <span class="fr-connect__login">S’identifier avec</span>
                  <span class="fr-connect__brand">FranceConnect</span>
                </button>
                <p>
                  <a
                    href="https://franceconnect.gouv.fr/"
                    target="_blank"
                    rel="noopener"
                    title="Qu’est ce que FranceConnect ? - nouvelle fenêtre"
                  >
                    Qu’est ce que FranceConnect ?
                  </a>
                </p>
              </div>
            </div>
            <div class="fr-mb-6v">
              <h2>Se connecter avec Github</h2>
              <div class="fr-connect-group">
                <a
                  href="/login?provider=github"
                  class="fr-btn fr-btn fr-mb-2w"
                >
                  S’identifier avec Github
                </a>
              </div>
            </div>
            <div class="fr-mb-6v">
              <h2>Se connecter avec Google</h2>
              <div class="fr-connect-group">
                <a href="/login?provider=google" class="fr-btn fr-btn">
                  S’identifier avec Google
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
